include download_and_patch_sources.sh
include Makefile
include requirements.txt
include requirements-dev.txt
include pyproject.toml
include README.rst
include setup.py
include .reuse/dep5
include .codespell-ignore

recursive-include LICENSES *.txt
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs requirements.txt
recursive-include docs Makefile
recursive-include examples *.py
recursive-include patches *.patch
recursive-include pycgdescent *.pyi
recursive-include pycgdescent *.typed
recursive-include src *.h
recursive-include src *.cpp
recursive-include tests *.py
